body {
  background-image: url("https://wallpapercave.com/wp/wp5521898.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

h1 {
  text-align: center;
  margin-bottom: auto;
  color: black;
}

form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
.field {
  margin-bottom: 20px;
}
.field label {
  display: block;
  font-weight: bold;
}
.amt {
  width: 5em;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
.captcha {
  width: 0.5rem;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
}
